<div class="card card-cascade wider reverse my-4">

    <!--Card image-->

    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://azcd.harveynorman.com.au/media/catalog/product/cache/21/image/992x558/9df78eab33525d08d6e5fb8d27136e95/x/s/xs_max_gold_1.jpg" height="auto" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Apple - iPhone</h3>
                <p>Explore iPhone, the world's most powerful personal device</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://3.bp.blogspot.com/-9nCfMKCxfQg/XF53_RlkZyI/AAAAAAAADcg/aIrcHUEO22MX3uIoOvl_JRJHqRZ6jrn6ACLcBGAs/s1600/Samsung%2BGalaxy%2BS10%2BGOOLWAY.jpg" height="auto" alt="Second slide">
                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Strong mask</h3>
                <p>Secondary text</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://u01.appmifile.com/images/2019/03/20/e1570856-f1f8-4bfd-ba66-b88b27305a65.jpg" height="auto" alt="Third slide">
                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center wow fadeIn" data-wow-delay="0.2s" style="animation-name: none; visibility: visible;">
        <!--Title-->
        <h4 class="card-title"><strong>Smart Shop</strong></h4>
        <h5 class="cyan-text"><strong>Apple - Samsung - Xiaomi</strong></h5>

        <p class="card-text">Noi niem tin va su chan thanh duoc dat len hang dau!
        </p>

        <a class="btn btn-primary btn-lg waves-effect waves-light">Apple</a>
        <a class="btn btn-secondary btn-lg waves-effect waves-light">Samsung</a>
        <a class="btn btn-default btn-lg waves-effect waves-light">Xiaomi</a>

    </div>
    <!--/.Card content-->

</div>
<app-best-product></app-best-product>